/* 記事共通の余白設定 */
.content-box{
    margin: 2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

/* 2023年関東テニスリーグ男子の結果 */
.picture{
    width: 75%;
    height: auto;
    margin-bottom: 10%;
}
.picture-box{
    text-align: center;
}