#osirase{
    font-size: 1.5em;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}
.information{
    background-color: #e6e6e6;
    padding-bottom: 2em;
}
.row{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);

}

.image-box{
    width: 100%;
    height: auto;
}

.coment-title{
    margin: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50%;
}


/* 2023関東リーグ結果 */